#body {
  background-color: skyblue;
}

#container_1 {
  background: skyblue;
}

#header {
  margin-left: 350px;
  height: 235px;
  background: url("../../public/images/stalk.png") no-repeat 23px 28px;
}

#logo {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}

#logoText {
  float: left;
  margin: 29px 0 0 22px;
}

#cart {
  margin-right: 150px;
  text-align: end;
}

#footer {
  background-color: limegreen;
}